@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}
body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

nav {
  padding: 17px 0;
}

.head {
  padding: 124px 0;
  background: url('../images/layer_26.png'), linear-gradient(-37deg, #017592 0%, #005977 100%);
  background-position: center;
  background-repeat: repeat;
}

.logo {
  color: #e65024;
font-family: "Proxima Nova - Extrabld";
font-size: 24px;
font-weight: 400;
line-height: 26px;
}

.head-item {
  text-align: center;
  h1 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    max-width: 879px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 24px;
    position: relative;
    &:before {
      content: "";
      display: inline-block;
      border-bottom: 2px solid #fff;
      height: 2px;
      width: 45%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    span {
      
    }
  }
  p {
    color: #ffffff;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
  }
}

.whom {
  padding: 50px 0;
  background: #fff;
}

.title {
  color: #171717;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  position: relative;
  display: inline-block;
  &:before {
    content: "";
    border-bottom: 2px solid #e75a30;
    height: 2px;
    width: 37.2%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.whom-item {
  margin-top: 49px;
  .icon {
    text-align: center;
  }
  .title_small {
    color: #171717;
    font-family: "Proxima Nova";
    font-size: 19px;
    font-weight: 700;
    line-height: 36px;
  }
  p {
    color: #6b6666;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 20px;
     word-wrap: break-word; 
    width: 100%;
  }
}

.banner {
  text-align: center;
}

.catalogs {
  padding: 40px 0;
  .title {
    &:before {
      width: 100%;
    }
  }
}

.catalogs-item {
  margin-top: 33px;
  border: 1px solid #dfebf5;
  background-color: #f3f8fc;
  border-radius: 6px;
  padding: 0  10px;
  min-height: 204px;
  .icon {
    text-align: right;
  }
  .h4-title {
    color: #005977;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
    padding: 33px 0 31px;
    border-bottom: 1px solid #dfebf5;
    margin-bottom: 30px;
    padding-left: 36px;
  }
  p {
    margin-bottom: 0;
    color: #171717;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    span {
      float: right;
      color: #171717;
      font-family: Roboto;
      font-size: 36px;
      font-weight: 400;
      line-height: 36px;
    }
  }
  .row {
    padding: 0 20px;
  }
}
* {
  line-height: 1.2;
}

.mt33 {
  margin-top: 33px;
}

.articles {
  padding-bottom: 34px;
  .button {
    float: right;
    clear: both;
  }
  .title {
    &:before {
      width: 17%;
    }
  }
}

.button {
  color: #e65024;
  font-family: "Proxima Nova - Semibold";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  border: 1px solid #e65024;
  background-color: #ffffff;
  display: inline-block;
  padding: 10px 25px;
      vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e65024;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
  &:hover:before, &:focus:before, &:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
  

&:hover, &:focus, &:active {
    color: white;
}
}

.articles-item {
  margin-top: 25px;
  border: 1px solid #dfebf5;
  background-color: #ffffff;
  display: block;
  padding: 5px;
  border-radius: 3px;
  .img  {
    overflow: hidden;
    border-radius: 2px;
    max-height: 185px;
    display: block;
    position: relative;
    &:before {
      content: "";
      background-color: #2a2a2a;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      opacity: 0.2;
    }
  }
  img {
    transition: 0.4s;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  .content {
    color: #171717;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding: 27px 20px;
    display: block;
  }
}

.analytics {
  padding-bottom: 65px;
  .title {
    margin-bottom: 30px;  
    &:before {
      width: 100%;
    }
  }
}

.analytics-item {
  border: 1px solid #dfebf5;
  background-color: #ffffff;
  padding: 17px 36px;
}

.analytics-title {
  color: #171717;
  font-family: "Proxima Nova";
  font-size: 19px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
}

.analytics-baner {
  text-align: right;
}

.footer {
  background-color: #003344;
  padding: 21px 0;
  p{
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 0;
    img {
      vertical-align: text-top;
      margin-bottom: 15px;
      margin-right: 5px;
    }
  }
}

.footer-logo {
  width: 160px;
  display: inline-block;
  text-align: center;
  margin-bottom: 36px;
  .circle {
    width: 44px;
    height: 44px;
    border: 8px solid #fff;
    border-radius: 50%;
    margin: 0 auto 8px;
  }
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.footer-menu {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 0 ;
  vertical-align: middle;
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
      position: relative;
    
    &:before {
        content: "|";
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        position: absolute;
        top: 0;
        right: 0;
      }
    a {
      display: block;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      border-bottom: 1px solid #c2c7c9;
      transition: 0.3s;
      &:hover {
        border-color:transparent;
      }
      
    }
    &:last-child {
        &:before {
          display: none;
        }
    }
  }
}
