@import 'variables';

* {
  outline: none;
}

a:focus,
a:hover,
input:focus,
input:hover {
  text-decoration: none;
  color: inherit;
}

body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

nav {
  padding: 17px 0;
}

.head {
  padding: 124px 0;

}
header {
    background: url('../images/layer_26.png'), linear-gradient(-37deg, #017592 0%, #005977 100%);
  background-position: center;
  background-repeat: repeat;
}

.logo {
  color: #e65024;
  font-family: "Proxima Nova - Extrabld";
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.head-item {
  text-align: center;
  h1 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    max-width: 879px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 24px;
    position: relative;
    &:before {
      content: "";
      display: inline-block;
      border-bottom: 2px solid #fff;
      height: 2px;
      width: 45%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    span {}
  }
  p {
    color: #ffffff;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
  }
}

.whom {
  padding: 50px 0;
  background: #fff;
}

.title {
  color: #171717;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  position: relative;
  display: inline-block;
  &:before {
    content: "";
    border-bottom: 2px solid #e75a30;
    height: 2px;
    width: 37.2%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.whom-item {
  margin-top: 49px;
  .icon {
    text-align: center;
  }
  .title_small {
    color: #171717;
    font-family: "Proxima Nova";
    font-size: 19px;
    font-weight: 700;
    line-height: 36px;
  }
  p {
    color: #6b6666;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 20px;
    word-wrap: break-word;
    width: 100%;
  }
}

.banner {
  text-align: center;
}

.catalogs {
  padding: 40px 0;
  .title {
    &:before {
      width: 100%;
    }
  }
}

.catalogs-item {
  margin-top: 33px;
  border: 1px solid #dfebf5;
  background-color: #f3f8fc;
  border-radius: 6px;
  padding: 0 10px;
  min-height: 204px;
  .icon {
    text-align: right;
  }
  .h4-title {
    color: #005977;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
    padding: 33px 0 31px;
    border-bottom: 1px solid #dfebf5;
    margin-bottom: 30px;
    padding-left: 36px;
    text-decoration: none;
    display: block;
    transition: 0.2s;
    &:hover {
      color: #e65024
    }
  }
  p {
    margin-bottom: 0;
    color: #171717;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    a {
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        color: #e65024
      }
    }
    a {
      float: right;
      color: #171717;
      font-family: Roboto;
      font-size: 36px;
      font-weight: 400;
      line-height: 36px;
    }
  }
  .row {
    padding: 0 20px;
  }
}

* {
  line-height: 1.2;
}

.mt33 {
  margin-top: 33px;
}

.articles {
  padding-bottom: 34px;
  .button {
    float: right;
    clear: both;
  }
  .title {
    &:before {
      width: 17%;
    }
  }
}

.button {
  color: #e65024;
  font-family: "Proxima Nova - Semibold";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  border: 1px solid #e65024;
  background-color: #ffffff;
  display: inline-block;
  padding: 10px 25px;
  vertical-align: middle;
  transition: 0.2s;



  &:hover,
  &:focus,
  &:active {
    color: white;
    background: #e65024;
  }
}

.articles-item {
  margin-top: 25px;
  border: 1px solid #dfebf5;
  background-color: #ffffff;
  display: block;
  padding: 5px;
  border-radius: 3px;
  .img {
    overflow: hidden;
    border-radius: 2px;
    max-height: 185px;
    display: block;
    position: relative;
    &:before {
      content: "";
      background-color: #2a2a2a;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      opacity: 0.2;
    }
  }
  img {
    transition: 0.4s;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
    .content {
      color: #e65024;
    }
  }
  .content {
    color: #171717;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding: 27px 20px;
    display: block;
    transition: 0.2s;
  }
}

.analytics {
  padding-bottom: 65px;
  .title {
    margin-bottom: 30px;
    &:before {
      width: 100%;
    }
  }
}

.analytics-item {
  border: 1px solid #dfebf5;
  background-color: #ffffff;
  padding: 17px 36px;
}

.analytics-title {
  color: #171717;
  font-family: "Proxima Nova";
  font-size: 19px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
}

.analytics-baner {
  text-align: right;
}

.footer {
  background-color: #003344;
  padding: 21px 0;
  p {
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 0;
    img {
      vertical-align: text-top;
      margin-bottom: 15px;
      margin-right: 5px;
    }
  }
}

.footer-logo {
  width: 160px;
  display: inline-block;
  text-align: center;
  margin-bottom: 36px;
  .circle {
    width: 44px;
    height: 44px;
    border: 8px solid #fff;
    border-radius: 50%;
    margin: 0 auto 8px;
  }
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.footer-menu {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 0;
  vertical-align: middle;
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    position: relative;

    &:before {
      content: "|";
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      position: absolute;
      top: 0;
      right: 0;
    }
    a {
      display: block;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      border-bottom: 1px solid #c2c7c9;
      transition: 0.3s;
      &:hover {
        color: #e65024;
        border-color: #e65024;
      }

    }
    &:last-child {
      &:before {
        display: none;
      }
    }
  }
}

main {
  overflow: hidden;
  position: relative;
}

.articles-carousel {
  position: relative;
.owl-nav {

  .owl-prev {
    margin-left: -15px;
  }
  .owl-next {
    margin-right: -15px;
  }
}
}

.owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  button {
    width: 32px;
    height: 34px;
    background-color: #e75a30 !important;
    opacity: 0.7;
    text-align: center;
    span {
      font-size: 36px;
      color: #fff;
      line-height: 22px;
    }
  }
  .owl-prev {
    float: left;
    background-color: #e75a30;
  }
  .owl-next {
    float: right;
    background-color: #e75a30;
  }
}

.scroll-btn {
  display: none;
}

.catalog_tpl {
  .head {
    padding: 26px 0;
  }
  .head-item {
    h1 {
      max-width: 100%;
      padding: 0;
      margin: 0;
      font-size: 30px;
      &:before {
        display: none;
      }
    }
  }
}

.bread_crumbs {
  list-style: none;
  padding: 33px 0;
  margin: 0;
  li {
    display: inline-block;
    position: relative;
    padding-right: 22px;
    margin-right: 15px;
    &:before {
      content: "";
      border: 20px solid transparent;
      border-left: 16px solid #e8e8e8;
      position: absolute;
      top: 50%;
      right: -22px;
      transform: translateY(-50%);
    }
    &:after {
      content: "";
      border: 18px solid transparent;
      border-left: 14px solid #fff;
      position: absolute;
      top: 50%;
      right: -19px;
      transform: translateY(-50%);
    }
    a {
      color: #005977;
      font-family: "Proxima Nova";
      font-size: 13px;
      font-weight: 400;
      line-height: 15px;
      transition: 0.2s;
      &:hover {
        color: #e65024;
      }
      &.active {
        color: #363636;
      }
    }
  }
}

.company-item {
  display: inline-block;
  max-width: 215px;
  width: 100%;
  margin-top: 28px;
  text-align: center;
  margin-right: 12px;
  &:nth-child(5n) {
    margin-right: 0;
  }
  .img {
    display: block;
    margin-bottom: 13px;
    img {
      width: 100%;
      border-radius: 3px;
    }
  }
  &:hover {
    .company-title {
      color: #e65024;
    }
  }
  .company-title {
    display: block;
    color: #171717;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    transition: 0.2s;
  }
}



.company-banner {
  margin-top: 24px;
  text-align: center;
  img {
    max-width: 100%;
  }
}

.city-item {
  display: block;
  color: #171717;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  transition: 0.2s;
  &:hover {
    color: #e65024;
  }
  &.hidden {
    display: none;
  }
}

.company-city {
  margin-top: 27px;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.more-city {
  margin-top: 20px;
}

.xs-block {
  display: none;
}

.city-alphabet {
  margin-top: 26px;
  width: 100%;
  margin-bottom: 38px;
  .title {
    margin-bottom: 40px;
  }
  .letter {
    color: #171717;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    display: block;
    transition: 0.2s;
    &:hover {
      color: #e65024;
    }
  }
}

.head_city {
  text-align: center;
  padding: 27px 0 30px;
}

.head_city-title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}

.single_city {
  min-height: 100vh;
  .container {
    position: relative;
  }
  .title {
    &:before {
      width: 100%;
    }
  }
}

.banner-item {
  width: 250px;
  height: 250px;
  background-color: #e65024;
  background-image: linear-gradient(-37deg, #017592 0%, #005977 100%);
  margin-bottom: 13px;
}

.main-banner {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
}

.societies {
  margin: 14px 0 0;
  padding: 0;
  list-style: none;
  li {
    border-top: 1px solid #dfebf5;
    &:last-child {
      border-bottom: 1px solid #dfebf5;
    }
    a {
      display: block;
      padding: 19px;
      transition: 0.3s;
      span {
        display: block;
      }
      .societies-title {
        color: #005977;
        font-family: "Proxima Nova - Semibold";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        transition: 0.3s;
      }
      .societies-info {
        color: #6b6666;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 300;
      }
      &:hover {
        background: rgba(223, 235, 245, 0.3);
        .societies-title {
          color: #e65024;
        }
      }
    }
  }
}

.mt-14 {
  margin-top: 14px;
}

.button-navigation {
  list-style: none;
  padding: 0;
  margin: 25px auto;
  text-align: center;
  max-width: 415px;
  height: 46px;
  overflow-y: hidden;
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  li {
    float: left;
    &:first-child {
      border-left: 1px solid #dfebf5;
    }
    a {
      display: block;
      width: 46px;
      height: 46px;
      border: 1px solid #dfebf5;
      background-color: #f3f8fc;
      border-left: 0;
      color: #005977;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
      line-height: 46px;
      transition: 0.3s;
      &:hover, &.active {
        background-color: #e6562c;
        color: #fff;
      }
    }
  }
}

.societies-item {
  margin-top: 50px;
  margin-bottom: 16px;
  h1 {
    color: #171717;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 18px
  }
  p {
    color: #6b6666;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
  }
  h2 {
    color: #171717;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 10px;
  }
    ol {
      color: #6b6666;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      margin-top: 0;
      padding-left: 30px;
      li {
        margin-bottom: 15px;
      }
    }
}

#up_btn {
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 5px;
  transition: .3s;
  opacity: 0.5;
  z-index: 999;
  &:hover {
    opacity: 1;
  }
}

h2 {
  color: #171717;
  font-family: "Proxima Nova";
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.gmap {
  max-width: 723px;
  min-height: 280px;
}

.nav-company {
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
  li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    margin-right: 9px;
    position: relative;
    &:before {
      content: "|";
      font-family: "Proxima Nova - Semibold";
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      color: #787474;
      position: absolute;
      top: 0;
      right: 0;
    }
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      &:before {
        display: none;
      }
    }
    a {
      color: #005977;
      font-family: "Proxima Nova - Semibold";
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      transition: 0.2s;
      &:hover {
        color: #e6562c;
        border-color: #e6562c;
      }
      border-bottom: 1px dotted #005977;
    }
  }
}

.company-block {
  padding-bottom: 20px;
  .item {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    .societies-item {
      margin-top: 30px;
    }
    .tel {
      color: #005977;
      font-family: "Proxima Nova - Semibold";
      font-weight: 400;
    }
    .top {
      background-color: #e9faff;
      border: 1px solid #dfebf5;
      padding: 20px 60px 20px 51px;
      margin: 0 -20px;
      color: #171717;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 18px;
      position: relative;
      &:before {
        content: "";
        background: url('../images/ic6.png') no-repeat center;
        width: 17px;
        height: 21px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
      }
      .up {
        position: absolute;
        top: 50%;
        right: 9px;
        transform: translateY(-50%);
        cursor: pointer;
         line-height: 1;
        &:hover {
          svg {
            fill: #e6562c;
            g {
              use {
                &:nth-child(1) {
                      fill: #e6562c;
                }
              }
              +use {
                fill: #fff;
              }
            }
          }
        }
      }
    }
    .info {
      color: #6b6666;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      padding-left: 30px;
      background: url('../images/database.png') no-repeat left center;
      margin-bottom: 25px;
    }
    .left {
      color: #171717;
      font-family: "Proxima Nova - Semibold";
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 20px;
      .img {
       margin-top: 30px; 
      }
    }

    .attention {
      color: #ff0000;
      
      .icon {
        font-family: "Proxima Nova";
        font-size: 10px;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        color: #3d3d3d;
        border: 1px solid rgba(0, 0, 0, 0.8);
        background-color: #bababa;
        margin: 0 5px;
        position: relative;
        overflow: hidden;
        &:hover {
          color: #ffffff;
          border: 2px solid #e6562c;
          background-color: #e6562c;
          overflow: visible;
          .more {
            display: block;
            opacity: 1;
            bottom: 205%;
          }
        }
        .more {
          transition: 0.2s;
          display: none;
          opacity: 0;
          bottom: 0%;
          position: absolute;
          right: -52px;
          color: #313030;
          font-family: "Proxima Nova";
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
          box-shadow: 0 0 16px 4px rgba(213, 213, 213, 0.75);
          border: 1px solid #d3d3d3;
          background-color: #ffffff;
          display: inline-block;
          width: 296px;
          padding: 15px 13px;
          
          &:before {
            content: "";
            border: 20px solid transparent;	
            border-top: 20px solid #ffffff;
            position: absolute;
            bottom: -32px;
            right: 38px;
            z-index: 5;

          }
          &:after {
            content: "";
            border: 20px solid transparent;	
            border-top: 20px solid #d3d3d3;
            position: absolute;
            bottom: -34px;
            right: 38px;
            z-index: -1;
             transition: 0s;

          }
        }
        &.one {
          border: 1px solid rgba(156, 156, 156, 0.32);
          background-color: #e61a13;
          color: #ffffff;

        }
      }
    }
    color: #6b6666;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    .right {
      position: relative;
      margin-bottom: 20px;
    }
    .all_btn {
      color: #00607e;
      border-bottom: 2px dotted #00607e;
      margin-left: 10px;
      &:hover {
        color: #e6562c;
        border-color: #e6562c;
      }
    }
  }
}

.blocking {
        
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
  &:before {
    content: "";
    width: 36px;
    height: 25px;
    background: url('../images/bl5423.png') repeat-x;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    
  }
  &.small {
    &:before {
      width: 21px;
    }
    .more {
    right: -48px;
    }
  }
  &:hover {
    overflow: visible;
    &:before {
      background: url(../images/bl5423h.png) repeat-x ;
    }
    .more {
      display: block;
      opacity: 1;
      bottom: 205%;
    }
  }
  .more {
    transition: 0.2s;
    display: none;
    opacity: 0;
    bottom: 0%;
    position: absolute;
    right: -41px;
    color: #313030;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    box-shadow: 0 0 16px 4px rgba(213, 213, 213, 0.75);
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
    display: inline-block;
    width: 296px;
    padding: 15px 13px;

    &:before {
      content: "";
      border: 20px solid transparent;	
      border-top: 20px solid #ffffff;
      position: absolute;
      bottom: -32px;
      right: 38px;
      z-index: 5;

    }
    &:after {
      content: "";
      border: 20px solid transparent;	
      border-top: 20px solid #d3d3d3;
      position: absolute;
      bottom: -34px;
      right: 38px;
      z-index: -1;

    }
  }
       
}

.table-title {
  color: #171717;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.company-people {
  width: 100%;
  &.bg-none {
     tr {
    &:first-child {
      background: 0 0;
    }
  }
  }
  tr {
    &:first-child {
      background-color: #f7f7f7;
      th {
        color: #171717;
        font-family: "Proxima Nova - Semibold";
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        padding: 18px 20px;
      }
    }
    td {
      color: #6b6666;
      font-family: "Proxima Nova";
      font-size: 16px;
        padding: 18px 20px;
      font-weight: 300;
      line-height: 24px;
      border-bottom: 2px solid #f7f7f7;
      vertical-align: top;
      img {
        float: left;
        margin-right: 18px;
        margin-top: 6px;
      }
      &:first-child {
        width: 215px;
      }
      &:nth-child(2) {
        color: #005977;
        font-family: "Proxima Nova - Semibold";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 400px;
      }
    }
  }
    margin-bottom: 25px;
  &.document {
    tr {
      td {
      color: #6b6666;
      font-family: "Proxima Nova";
      font-size: 16px;
        padding: 18px 20px;
      font-weight: 300;
      line-height: 24px;
      border-bottom: 2px solid #f7f7f7;
      img {
        float: left;
        margin-right: 18px;
        margin-top: 6px;
      }
      &:nth-child(3) {
        width: 465px;
        
      }
      &:nth-child(1) {
        width: 215px;
        color: #005977;
        font-family: "Proxima Nova - Semibold";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      &:nth-child(2) {
        width: inherit;
      }
    }
    }
  }
  &.history {
    tr {
      td {
        &:first-child {
          width: 232px;
          div {
            &:last-child {
              color: #171717;
              font-family: "Proxima Nova - Semibold";
              font-weight: 400;
            }
          }
        }
        &:nth-child(2), &:nth-child(3) {
          color: #6b6666;
          font-family: "Proxima Nova";
//          width: 40%;
        }
      }
    }
  }
}

.activities-item {
  color: #171717;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
  .h4 {
    color: #171717;
    font-family: "Proxima Nova - Semibold";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
  }
  b {
    color: #005977;
    font-family: "Proxima Nova - Semibold";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 50px;
    display: block;
  }
}

.info_bottom {
  color: #171717;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}


.catalog-btn {
  color: #005977;
  font-family: "Proxima Nova - Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  float: right;
  transition: 0.2s;
  border-bottom: 1px solid #005977;
  margin-top: 11px;
  &:hover {
    color: #e6562c;
    border-color: #e6562c;
  }
}

.connections-tab {
  .content {
    display: none;
    padding-bottom: 19px;
    &.active {
      display: block;
    }
    .h5 {
      color: #005977;
      font-family: "Proxima Nova - Semibold";
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 12px;
    }
  }
}

.connections-list {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    position: relative;
    &:before {
      content: "|";
      font-family: "Proxima Nova - Semibold";
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      color: #787474;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -2px;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      &:before {
        display: none;
      }
    }
    a {
      color: #005977;
      font-family: "Proxima Nova - Semibold";
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      padding-left: 30px;
      position: relative;
      &:before {
        content: "";
        width: 21px;
        height: 21px;
        background-color: #005977;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &.all {
        &:after {
          content: "";
          width: 11px;
          height: 9px;
          background: url('../images/icon4.png') no-repeat left center;
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
        }
      }
      &.phone_num {
        &:after {
          content: "";
          width: 11px;
          height: 11px;
          background: url('../images/icon4.png') no-repeat -139px center;
          position: absolute;
          top: 50%;
          left: 4px;
          transform: translateY(-50%);
        }
      }
      &.address {
        &:after {
          content: "";
          width: 10px;
          height: 15px;
          background: url('../images/icon4.png') no-repeat -369px center;
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
        }
      }
      &.fio {
        &:after {
          content: "";
          width: 11px;
          height: 9px;
          background: url('../images/icon4.png') no-repeat right center;
          position: absolute;
          top: 50%;
          left: 4px;
          transform: translateY(-50%);
        }
      }
      &.active {
        cursor: no-drop;
      }
      &.active, &:hover {
        color: #171717;
        
        &:before {
          background-color: #17af3a;
        }
      }
    }
  }
}

.connections-item {
  .connections-info {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    vertical-align: middle;
    img {
      margin-right: 11px;
    }
  }
}

.connections-check {
  margin:  22px 0 41px;
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 11px ;
    position: relative;
    &:first-child {
      margin-left: 22px;
    }
    &:last-child {
      margin-right: 0px;
    }
    color: #171717;
    font-family: "Proxima Nova - Semibold";
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    .icon {
      width: 21px;
      height: 21px;
      background-color: #17af3a;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      background-image: url('../images/check.png');
      background-repeat: no-repeat;
      background-position: center;
    }
    &.no-check {
      color: #8c8c8c;
      .icon {
        background-color: #c8c8c8;
         background-image: none;
        position: relative;
        &:before {
          content: "x";
          width: 10px;
          height: 10px;
          color: #ffffff;
          font-family: "Proxima Nova - Semibold";
          font-size: 16px;
          font-weight: 400;
          line-height: 8px;
          position: absolute;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }
}

.connections-banner {
  text-align: center;
  img {
    max-width: 100%;
  }
}

.others-item {
  margin-top: 20px;
  margin-bottom: 48px;
  .h2 {
    color: #171717;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        color: #005977;
        font-family: "Proxima Nova - Semibold";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        transition: 0.2s;
        &:hover {
          color: #e65024;
        }
      }
    }
  }
}
a {
  transition: 0.2s;
  &:hover {
    color: #e65024;
  }
}

.table-container {
   margin: 0 -20px;
}

.mt60 {
  margin-top: 60px;
}

.document-item {
  margin-top: 30px;
  color: #171717;
font-family: "Proxima Nova";
font-size: 16px;
font-weight: 400;
line-height: 24px;
  padding-bottom: 60px;
}

.mt30 {
  margin-top: 30px;
}

.filter-list {
  list-style: none;
  padding: 0;
  margin: 0 0 5px;
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  li {
    float: left;
    border: 1px solid #dfebf5;
    background-color: #f3f8fc;
    border-right: 0;
    transition: 0.2s;
    &.active, &:hover {
      background-color: #e6562c;
      a {
        color: #ffffff;
      }
    }
    &:last-child {
      border-right: 1px solid #dfebf5;
    }
    a {
      display: block;
      padding: 15px 14px;
      color: #005977;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
    }
  }
  &.day {
    li {
      a {
        width: 35.7px;
        padding: 17px 0;
        text-align: center;
      }
    }
  }
}

.search-subtitle {
  color: #6b6666;
font-family: "Proxima Nova";
font-size: 16px;
font-weight: 300;
line-height: 23px;
  margin-bottom: 15px;
  margin-top: 16px;
}

.filter-title {
  margin: 19px 0;
  &:before {
    display: none;
  }
}

.form {
      display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  width: 100%;
  padding: 0 15px;
}

.form-box {
  max-width: 560px;
  width: 100%;
  .form-title {
    color: #171717;
    font-family: "Proxima Nova";
    font-size: 19px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: left;
  }
  form {
    background: #f2f2f2;
    border-radius: 3px;
    border: 1px solid #cacaca;
    padding: 30px;
    input {
      display: block;
      color: #171717;
    font-family: "Proxima Nova";
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 20px;
      width: 100%;
    border: 1px solid #cacaca;
      padding: 5px 10px;
    }
    button {
      display: block;
      width: 100%;
     border: 0;
      padding: 10px 10px;
      font-family: "Proxima Nova";
    font-size: 19px;
    line-height: 36px;
      text-transform: uppercase;
      color: #fff;
      background: #76bb6b;
      cursor: pointer;
      box-shadow: inset 0px -3px 5px 0px rgba(0,0,0,0.3);
      border-radius: 3px;
      &:hover {
        box-shadow: inset 0px -3px 5px 0px rgba(0,0,0,0);
        transform: translateY(5%);
      }
    }
  }
}

.search-btn {
  padding: 5px 10px;
  background: #fff;
  color: #000;
  transition: 0.4s;
  display: inline-block;
  text-align: center;
  font-family: "Proxima Nova - Semibold";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  &:hover {
    background: #e65024;
    color: #fff;
  }
}

.about-item {
  margin-top: 30px;
  padding: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    margin-bottom: 15px;

  p {
        color: #6b6666;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 0;
    word-wrap: break-word;
    margin-bottom: 0;
  }
}

.info-title {
  color: #171717;
    font-family: "Proxima Nova";
    font-size: 19px;
    font-weight: 700;
    line-height: 36px;
}

.question-box {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 35px;
}

.about-question {
  border: 1px solid rgba(0,0,0,0.2);
//  background-color: #f3f8fc;
  border-radius: 3px;
  padding: 15px 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  margin-top: 20px;
  padding-right: 40px;
    transition: 0.2s;
  
  position: relative;
  &:hover {
    background: #fefefe;
    .question-title {
      color: #e65024;
    }
  }
  &:before {
    content: "";
    background: url('../images/arr_down.png') no-repeat center;
    width: 17px;
    height: 9px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.2s;
  }
  &.active {
    &:before {
      transform: rotate(180deg);
    }
  }
}

.question-title {
      color: #005977;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    display: block;
    transition: .2s;
  cursor: pointer;
  
}

.question-content {
  display: none;
  margin-top: 1rem; 
}

.box-shadow {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  
}

.aside {
    margin-top: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  margin-bottom: 35px;
  padding: 10px 15px;
  .info-title {
    margin-bottom: 20px;
  }
}

.about-info {
  margin-bottom: 25px;
  p {
        color: #6b6666;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0;
  } 
}

.contacts {
    margin-top: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  margin-bottom: 35px;
  padding: 20px 20px 10px;
  ul {
    padding-left: 20px;
    li {
          color: #171717;
        font-family: "Proxima Nova";
        font-size: 19px;
        font-weight: 700;
        line-height: 1.2;
      margin-bottom: 10px;
      a {
          color: #171717;
        
      }
    }
  }
  form {
    &:after {
      content: " ";
      clear: both;
      display: table;
    }
    input, textarea {
      display: block;
      margin-bottom: 15px;
      width: 100%;
      border-radius: 3px;
      border: 1px solid rgba(0,0,0,0.2);
      padding: 5px 10px;
          color: #6b6666;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
      resize: none;
    }
    textarea {
min-height: 150px;
    }
  }
  button {
    border: 0;
        padding: 10px 25px;
    background: rgba(0, 204, 102, 1);
    color: #fff;
    transition: .4s;
    display: inline-block;
    text-align: center;
    font-family: "Proxima Nova - Semibold";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    float: right;
    cursor: pointer;
    margin-top: 35px;
    &:hover {
      background: rgb(230, 80, 36);
    }
  }
}

.capcha {
  display: inline-block;
}
