& {
  .head {
    padding: 80px 0;
  }
  .head-item h1 {
    font-size: 21px;
    line-height: 28px;
    padding-bottom: 20px;
  }
  .head-item p {
    font-size: 16px;
    line-height: 22px;
  }
  .title {
    font-size: 21px;
    line-height: 26px;
    &:before {
      width: 24.2%;
    }
  }
  .banner {
    img {
      width: 100%;
      min-height: 100px;
    }
  }
  .catalogs-item .h4-title {
    padding: 10px 16px;
    min-height: 84px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .catalogs-item {
    padding-bottom: 36px;
    p {
      line-height: 1;
    }
  }
  .catalogs-item p a {
    float: none;
    display: block;
    font-size: 30px;
    line-height: 36px;
  }
  .catalogs-item .row {
    padding: 0 14px;
    .col-9 {
      padding: 0;
    }
  }
  .catalogs {
    img {
      max-width: 100%;
    }
  }
  .articles-item .content {
    padding-left: 15px;
    padding-right: 15px;
    word-wrap: break-word;
    br {
      display: none;
    }
  }

  .analytics-item {
    overflow: hidden;
    padding: 17px 20px;
    margin-bottom: 12px;

  }
  .analytics-img {
    overflow-x: auto;
    padding-bottom: 20px;
  }
  .scroll-btn {
    display: block;
    color: #848586;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;
    border-radius: 2px;
    background-color: #dfebf5;
    padding: 8px 14px;
    margin-bottom: 16px;
    max-width: 197px;
  }
  .analytics .title {
    margin-bottom: 10px;
  }
  .analytics-baner {
    img {
      width: 100%;
      max-height: 100px;
    }
  }
  .analytics {
    padding-bottom: 40px;
  }
  .footer-logo {
    font-size: 24px;
    width: 260px;
    margin-bottom: 24px;
    .circle {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      &:before {
        content: "";
        background: url('../images/ru.png') no-repeat center;
        width: 30px;
        height: 17px;
        position: absolute;
        bottom: 0;
        right: -10px;
      }
    }
  }
  .footer {
    text-align: center;
    p {
      text-align: left;
      font-size: 12px;
    }
  }
  .footer-menu {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    li {
      padding: 0 10px 0;
      margin-bottom: 10px;
      a {
        font-size: 14px;
      }
      &:before {
        display: none;
      }
    }
  }
  .xs-block {
    display: block;
  }
  .row {
    .row {
      margin: 0;
      &.company-banner {
        margin-top: 24px;
        margin-bottom: 20px;
      }
    }
  }
  .company-banner {

    img {
      margin-top: 6px;
      min-height: 100px
    }
  }
  .city-item {
    text-align: center;
  }
  .city-alphabet .title {
    margin-bottom: 20px;
  }
  .head_city-title,
  .societies-item h1 {
    font-size: 21px;
    line-height: 26px;
  }
  .societies-item h2 {
    font-size: 18px;
  }
  .societies-info {
    margin-top: 5px;
  }
  .bread_crumbs li {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 21px;
    line-height: 26px;
    br {
      display: none;
    }
  }
  .nav-company {
    text-align: center;
  }
  .company-block .item {
    padding: 0;
    .scroll-btn {
      max-width: 160px;
    }
  }
  .row .company-block .row {
    margin: 0 -15px;
  }
  .company-block .item .info {
    background-position: left top;
  }
  .company-block .item .left {
    margin-bottom: 0;
  }
  .company-block .item .left .img {
    margin-top: 0;
    text-align: center;
    margin-bottom: 25px;
    img {
      width: 100%;
      max-height: 100px;
    }
  }
  .table-container {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    margin: 0 0 10px;
    +.connections-banner  {
      margin-bottom: 20px;
    }
    
  }
  .company-people {
    margin-bottom: 0px;
    width: 960px;
  }
  .company-people tr td:nth-child(2) {
    width: 335px;
  }
  .activities-img {
    img {
      width: 100%;
      max-height: 100px;
    }
    margin-bottom: 25px;
  }
  .catalog-btn {
    float: none;
    display: inline-block;
  }
  .connections-item .connections-info {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .connections-check {
    margin-top: 0;
    li {
      display: block;
      margin-bottom: 10px;
      margin-left: 0;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .connections-banner {
    img {
      min-height: 100px;
    }
  }
  .connections-list li {
    padding: 0 5px;
  }
  .connections-list {
    text-align: center;
  }
  .company-people.document tr td:nth-child(3) {
    width: 425px;
}
  .mt60 {
  margin-top: 20px;
}
  .mt30 {
    margin-top: 15px;
  }
  .filter-list {
    position: relative;
      &:after {
        content: "";
        background: url('../images/arr_down.png') no-repeat center;
        width: 18px;
        height: 10px;
        position: absolute;
        top: 27px;
        background-size: 100%;
        left: 8px;
        z-index: 99;
      }
      &:before {
        content: "";
        background: url('../images/arr_down.png') no-repeat center;
        width: 18px;
        height: 10px;
        background-size: 100%;
        position: absolute;
        top: 27px;
        right: 8px;
        z-index: 99;
      }
    li {
      display: none;
      width: 100%;
      position: relative;
      text-align: center;
      float: none;
          border: 1px solid #dfebf5;
      &.hide {
        display: none !important;
      }
      a {
        width: 100%  !important;
      }
      &.active {
        display: block;
        background-color: #f3f8fc;
        a {
          color: #005977;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
  .head {
    text-align: center;
  }
  .search-btn {
    margin-top: 15px;
  }
  .row .row.about-info {
    text-align: center;
    margin-bottom: 20px ;
  }
  .aside {
    text-align: center;
    padding: 15px;
  }
  .info-title {
    margin-bottom: 20px;
  }
  .kved-table td:nth-child(1) {
    width: auto;
  }
}

&.catalog_tpl .head-item h1 {
  font-size: 21px;
}

